.bar{
    background: var(--secondary_background);
    transition: 0.3s ease;
    transition-delay: 0.2s;
    user-select: none;
}

.bar:hover{
    background: rgba(106, 90, 205, 0.2);
}

.vertical{
    width: var(--movable_size);
    height: 100%;
    cursor: col-resize;
}

.horizontal{
    width: 100%;
    height: var(--movable_size);
}