.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    background: var(--main_background);
    font-family: 'Poppins', sans-serif;
}

.main .left{
    display: flex;
}