.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    background: var(--main_background);
    font-family: 'Poppins', sans-serif;
}

.main .left{
    display: flex;
}

.main>.right{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .right .top{
    width: 100%;
    height: 50px;
    padding: 20px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.main .right .top .left{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.main .right .top .left h2{
    font-size: 15px;
    font-weight: 500;
    color: #3a3a3a;
}

.main .right .top .left span{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main .right .top .right{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}


.main .right .top .right span{
    cursor: pointer;
}

.main .right .bottom{
    width: 100%;
    height: calc( 100vh - 50px - var( --editing_tools_height ) );
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background: #fafafa;
    overflow-x: auto;
    cursor: text;
}

::selection{
    background: lightblue !important;
}

.main .right .bottom .image{
    flex-shrink: 0;
    grid-column: 1/3;
    height: 100px;
    cursor: unset;
}

.main .right .bottom .title{
    font-family: 'Poppins', sans-serif;
    width: 60%;
    grid-column: 2/3;
    height: 100px;
    display: flex;
    align-items: end;
    padding: 10px 0;
    color: #2a2a2a;
    font-size: xxx-large;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
}


.main .right .bottom .content{
    grid-column: 2/3;
    width: 60%;
    flex-shrink: 0;
    min-height: 250px;
    outline: none;
    border: none;
    color: #2f2f2f;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-bottom: 100px;
}


.main .right .bottom .content ul, .main .right .bottom .content ol{
    padding-left: 35px;
}

.main .right .bottom .space{
    width: 80%;
    height: 150px;
}


.main .right .tools_container{
    width: 100%;
    height: var( --editing_tools_height );
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.main .right .tools_container .tools{
    /* width: 400px; */
    height: 40px;
    border-radius: 5px;
    background: #fefefe;
    box-shadow: 0 0 100px rgba(50,50,50,0.25);

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.main .right .tools_container .tools .tool{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.main .right .tools_container .tools .tool span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .right .tools_container .tools .tool:hover{
    background: #ededed;
}

.main .right .tools_container .tools .active{
    background: #ededed;
}